<!DOCTYPE html>
<html>
  <head>
    <title>Digital  House</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="Div">
      <h1><%=pet[1].nome %></h1>    
    </div>
  </body>
</html> 