<!DOCTYPE html>
<html>
  <head>
    <title>Digital  House</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="Div">
      <h1><%=pet[1].nome %></h1>  
      <form action="/cadastrapet" method="post">
        <input type="text" name="name">
        <input type="text" name="species">
        <input type="text" name="favFoods">
        <input type="text" name="birthYear">
    </form>  
    </div>
  </body>
</html> 